.back{
    background-color: rgb(175, 53, 53);
    height: 650px;
    clip-path: polygon(0 0, 100% 0, 100% 81%, 91% 100%, 25% 100%, 0 100%);
}
.right{
padding-left: 120px;
}
.para{
    font-weight: 800;
    font-family: sans-serif;
    font-size: 50px;
    color: white;
    margin: 34px 0px 0px 0px;
}
.por{
    margin: 0px 0px 20px 0px;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 25px;
}
.message{
    color: white;
    letter-spacing: 2px;
    line-height: 25px;
    word-spacing: 2px;
    font-size: 20px;
}
.message2{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    word-spacing: 2px;
}
.down{
    padding-top: 100px;
    padding-left: 120px;
}
.triangle{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 50px;
}
.bvb{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.club{
    display: flex;
    gap: 80px;
    padding-left: 120px;
}
.text-01{
    color: brown;
    font-family: sans-serif;
}
.last{
    background-color: rgb(180, 66, 66);
    height: 300px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 94% 100%, 25% 100%, 0 100%);
}
.mission{
    font-size: 50px;
    font-weight: 700;
    font-family: sans-serif;
    padding-top: 60px;
    padding-left: 140px;
}
.colr{
    color: white;
}
.right{
    padding-right: 120px;
    padding-top: 40px;
}
.low{
    padding-top: 90px;
}